.section-posiciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-tablaposiciones{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.tabla-posiciones{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card-posicion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
    img{
        width: 50px;
    }
}