*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.2rem;
    min-height: 100vh;
}

.grid__container{
    display: grid;
    grid-template: 
    "header"
    "main"
    "section"
    "footer"
    "derechos";
}

.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.section{
    grid-area: section;
}
.footer{
    grid-area: footer;
}
.derechos{
    grid-area: derechos;
}