.main-nosotros {
    padding: 10px;

    h1,
    h2 {
        text-align: center;
    }
}

.container-titulo {
    border-radius: 10px;
    background: rgb(122, 233, 255);
    background-image: linear-gradient(50deg, #02c9ff 0, #20b1fe 50%, #299add 100%);
    color: white;
    margin-bottom: 10px;
    padding: 10px;

    h1, h2{
        margin-top: 5px;
    }
}

.nosotros-img {
    img {
        width: 100%;
        border-radius: 5px;
    }
}