.main-home{
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

@media only screen and (min-width: 767px){
    .section-carruseles{
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }
}

@media only screen and (min-width: 1100px) {
    .main-home{
        width: 70%;
        margin: auto;
    }
}

@media only screen and (min-width: 1281px) {
    .main-home{
        width: 50%;
    }
    .section-carruseles{
        width: 80%;
        margin: auto;
    }
}